<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Class</Data></Cell>
        <Cell><Data ss:Type="String">No.</Data></Cell>
        <Cell><Data ss:Type="String">Course</Data></Cell>
        <Cell><Data ss:Type="String">Sem 1</Data></Cell>
        <Cell><Data ss:Type="String">Sem 2</Data></Cell>
        <Cell><Data ss:Type="String">Sem 3</Data></Cell>
        <Cell><Data ss:Type="String">Sem 4</Data></Cell>
        <Cell><Data ss:Type="String">Sem 5</Data></Cell>
        <Cell><Data ss:Type="String">Average</Data></Cell>
      </Row>
      <% @scores.each do |student_score| %>
        <% student_score.each do |score| %>
          <Row>
            <Cell><Data ss:Type="String"><%= score.name %></Data></Cell>
            <Cell><Data ss:Type="String"><%= score.section[6, 5] %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= score.course_id %></Data></Cell>
            <Cell><Data ss:Type="String"><%= score.course %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= score.sem1 %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= score.sem2 %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= score.sem3 %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= score.sem4 %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= score.sem5 %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= score.avg %></Data></Cell>
          </Row>
        <% end %>
        <Row>
          <Cell><Data ss:Type="String"> </Data></Cell>
        </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>